@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
}

.map-container {
  display: grid;
  grid-template-columns: repeat(24, 4rem); /* Assuming 8 tiles wide, 4rem each */
  grid-template-rows: repeat(10, 4rem);    /* Assuming 5 tiles high, 4rem each */
  position: relative;
}

.tile {
  width: 4rem;
  height: 4rem;
}

.tile-1 { background-image: url('./assets/grass.png'); } /* Grass */
.tile-2 { background-image: url('./assets/wall.png'); } /* Wall */
.tile-3 { background-image: url('./assets/water.png'); } /* Water */

.entity-sprite {
  position: absolute;
  width: 4rem;
  height: 4rem;
  z-index: 10;
  color: yellow;
  /* You will move this based on player X/Y */
}

.message-bubble {
  position: absolute;
  bottom: 150%; /* Position above the entity */
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.7);
  color: black;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  white-space: nowrap;
  font-size: 0.75rem;
  margin-bottom: 0.5rem;
  z-index: 20;
}

.chracter-name-bubble {
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  white-space: nowrap;
  font-size: 0.75rem;
  margin-bottom: 0.5rem;
  z-index: 20;
}

.mini-map-container {
  display: grid;
  grid-template-columns: repeat(24, 0.7rem); /* Assuming 8 tiles wide, 0.7rem each */
  grid-template-rows: repeat(10, 0.7rem);    /* Assuming 5 tiles high, 0.7rem each */
  position: relative;
}

.mini-map-tile {
  width: 0.7rem;
  height: 0.7rem;
}

.mini-map-player-dot {
  position: absolute;
  width: 0.7rem; /* Same size as the mini-map tile */
  height: 0.7rem;
  background-color: yellow; /* Bright color marker */
  z-index: 20;
}